<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @attendance.student_id %>
</p>

<p>
  <strong>Meeting:</strong>
  <%= @attendance.meeting_id %>
</p>

<p>
  <strong>Attended:</strong>
  <%= @attendance.attended %>
</p>

<p>
  <strong>Had text:</strong>
  <%= @attendance.had_text %>
</p>

<p>
  <strong>Read text:</strong>
  <%= @attendance.read_text %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
